#login-form {
    position: absolute;
    left: 200px;
    top: 200px;
}

p {
    font-size: 140px;
}

#login-form {
    background-color: white;
    text-align: center;
    width: 35%;
    padding-top:20px;
    padding-bottom:20px;        
    margin-left:50px;

}

input [type=email] {
    width:90%;
    padding-left:20px;
    padding-bottom: 20px;

}

#main-content {
    margin-top: 70px;
    margin-left: 10px;
    text-align: center;
    
}
.zcard{
    background-color: rgb(47, 47, 47);
    width:50%;
    margin-left: 25%;
    width:50%;
    height:50%;
    text-align: center;
    border-radius: 20px
    
}
.zcard p{
margin-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
}
#AIread {
    font-family: "Anton";
    font-size: 70px;
    text-align: center;
    color: black;
}